    /************************************/
    /*          General             */
    /************************************/
    
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        background: white;
        height: 100%;
    }
    
    .login .mx-auto {
        max-width: 700px;
        width: 70%;
        padding-top: 20px;
    }
    
    .register .mx-auto {
        max-width: 700px;
        width: 70%;
        padding-top: 20px;
    }
    
    .chooseTypeOfTraining .mx-auto {
        max-width: 700px;
        width: 70%;
        padding-top: 20px;
    }
    /*******************Kalender (JAVASCRIPT)*****/
    
    table {
        width: 800px;
    }
    
    table,
    td,
    caption {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.4em;
        text-align: center;
    }
    
    td:nth-of-type(6),
    td:nth-of-type(7) {
        background: #ebf5d7;
        color: #666;
    }
    
    caption,
    tr:first-of-type {
        background: #666;
        color: #c4ced3;
        font-weight: bold;
    }
    
    td.heute {
        color: red;
        font-weight: bold;
        background: #ffebe6;
    }
    /**********Kalender end **********/
    /**********php Kalender******/
    
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }
    
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }
    
    .tg .tg-mgse {
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        background-color: #9aff99
    }
    
    .tg .tg-efv9 {
        font-family: Arial, Helvetica, sans-serif !important;
    }
    
    .tg .tg-4byr {
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        background-color: #faf4f4
    }
    
    .tg .tg-q82y {
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        background-color: #ffffff
    }
    
    .tg .tg-u666 {
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        background-color: #9aff99;
        color: #333333
    }
    /*************/