/************************************/


/*          General             */


/************************************/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    background: white;
    height: 100%;
}

.login .mx-auto {
    max-width: 700px;
    width: 70%;
    padding-top: 20px;
}

.register .mx-auto {
    max-width: 700px;
    width: 70%;
    padding-top: 20px;
}


/*******************Kalender*****/

table {
    width: 800px;
}

table,
td,
caption {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
    text-align: center;
}

td:nth-of-type(6),
td:nth-of-type(7) {
    background: #ebf5d7;
    color: #666;
}

caption,
tr:first-of-type {
    background: #666;
    color: #c4ced3;
    font-weight: bold;
}

td.heute {
    color: red;
    font-weight: bold;
    background: #ffebe6;
}


/**********Kalender end **********/


/**********php Kalender******/

div.day-number {
    background: #999;
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -25px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 20px;
    text-align: center;
}

td.calendar-day,
td.calendar-day-np {
    width: 120px;
    padding: 5px 25px 5px 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}